<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <title>EpicTask</title>
</head>
<body>

<h1 class="p-8 text-primary">Epic Task</h1>


<main class="grid place-items-center p-8 ">
    <h2 class="font-bold text-xl" th:text="#{task.new}"></h2>
    <form method="POST" class="w-full max-w-md" th:object="${taskForm}" th:action="${'/task/form'}">
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{title}"></legend>
            <input th:field="*{title}" type="text" class="input" th:errorclass="input-error"  />
            <p class="label text-error" th:errors="*{title}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{description}"></legend>
            <textarea th:field="*{description}" class="textarea" th:errorclass="textarea-error"></textarea>
            <p class="label text-error" th:errors="*{description}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{score}"></legend>
            <input th:field="*{score}" id="score-range" type="range" min="1" max="100" value="40" class="range range-secondary" />
            <p id="score-label" class="label" th:text="${taskForm.score + ' pts'}">40 pts</p>
        </fieldset>

        <div class="flex justify-between max-w-md">
            <a href="/task" class="btn btn-soft" th:text="#{cancel}"></a>
            <button class="btn btn-soft btn-primary" th:text="#{save}"></button>
        </div>

    </form>
</main>


<script>
    document.querySelector("#score-range").addEventListener("input", (e) => {
        const label = document.querySelector("#score-label")
        label.textContent = e.target.value + " pts"
    })
</script>
</body>
</html>